/*normalize*/
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  body {
    margin: 0;
  }
  main {
    display: block;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  pre {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  a {
    background-color: transparent;
  }
  abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }
  b,
  strong {
    font-weight: bolder;
  }
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  small {
    font-size: 80%;
  }
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img {
    border-style: none;
  }
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,
  input {
    overflow: visible;
  }
  button,
  select {
    text-transform: none;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
  }
  progress {
    vertical-align: baseline;
  }
  textarea {
    overflow: auto;
  }
  [type="checkbox"],
  [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }
  details {
    display: block;
  }
  summary {
    display: list-item;
  }
  template {
    display: none;
  }
  [hidden] {
    display: none;
  }
/*global*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    color: #fff;
    background-color: #080808;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
  }
  button {
    cursor: pointer;
  }
  section {
    padding: 30px 0;
  }
  .container {
    max-width: 1620px;
    margin: auto;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }

/*main*/

.design-wrapper {
    padding-bottom: 200px;
  }
  .design-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .more {
    color: #e8223a;
    font-size: 16px;
    padding: 5px;
    line-height: 1.6;
    background-color: transparent;
    border: none;
  }

  /*modal*/
  .hidden {
    display: none !important;
  }
  .form {
    max-width: 492px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9;
    max-width: 592px;
    width: 100%;
    height: 545px;
    max-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #080808;
    padding: 71px 57px;
    border: 1px solid #fff;
  }
  .modal__title {
    margin-bottom: 23px;
  }
  .modal__descr {
    margin: 0 0 30px 0;
  }
  .modal-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
  }
  .modal__button {
    margin-right: 48px;
  }
  .modal__close {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 15px;
    right: 15px;
    border: none;
    background-color: transparent;
    background-image: url("./img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .modal__close:focus {
    outline: none;
  }
  .close {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    border: none;
    background-color: transparent;
  }
  .close:focus {
    outline: none;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .section__title {
    margin: 0;
    font-weight: bold;
    font-size: 48px;
    line-height: 1.4;
  }
  .input {
    display: block;
    border: none;
    background-color: transparent;
    padding-left: 14px;
    padding-bottom: 9px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    opacity: 0.8;
    margin-bottom: 20px;
    width: 100%;
  }
  .input:focus {
    outline: none;
  }
  .button {
    display: block;
    background: linear-gradient(93.53deg, #ed3125 11.43%, #e8223a 80.79%);
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }
  .button:focus {
    outline: none;
  }
  .button:disabled {
    background-image: none;
    background-color: #ccc;
  }